<div class="login-container">
    <h2>Login</h2>
    <form>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" [(ngModel)]="username" name="username">
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password">
      </div>
      <button type="button" (click)="onLogin()">Login</button>
      <button type="button" (click)="onCreateAccount()">Create New Account</button>
    </form>
  </div>
  