<div class="image-detail-container">
    <div class="image-container">
        <img [src]="image.path" alt="Selected Image" />
    </div>

    <div class="info-container">
        <button mat-button (click)="predict()">Predict</button>
        <div class="info-item">
            <span class="info-label">Id:</span>
            <span class="info-value">{{ predictedData.id }}</span>
        </div>
        <div class="info-item">
            <span class="info-label">Prediction:</span>
            <span class="info-value">{{ predictedData.prediccion }}</span>
        </div>
        <div class="info-item">
            <span class="info-label">Note:</span>
            <textarea [(ngModel)]="userInput" rows="3" cols="30" placeholder="{{ predictedData.contenido }}"></textarea>
            <button mat-button (click)="submitNote()">Submit</button>
        </div>
    </div>
</div>
