<div *ngIf="login">
<mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element" title="{{element.id}}">{{ element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element" title="{{element.nombre}}">{{ element.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dni">
      <mat-header-cell *matHeaderCellDef> DNI </mat-header-cell>
      <mat-cell *matCellDef="let element" title="{{element.dni}}"> {{element.dni}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let element">            
        <button mat-icon-button
        title="Borrar paciente"
        (click)="confirmDeletion($event, element.id)">
          <mat-icon color = "warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
    [routerLink]="['/paciente', row.id]"
    class="clickable-row"
    (mouseenter)="onMouseEnter(row)"
    (mouseleave)="onMouseLeave(row)">
    </mat-row>
</mat-table>

<p></p>

<div class="center-container">
  <button mat-raised-button
          title="Añadir paciente"
          routerLink="/paciente/create"
          class="add-button">
    <mat-icon>add</mat-icon>
  </button>
</div>

</div>